infrastructure/step_functions.json
{
  "Comment": "Beaver watershed pipeline — fetches GBIF async download + USGS data in parallel, waits for GBIF to be ready, then processes and loads to RDS",
  "StartAt": "FetchInParallel",
  "States": {

    "FetchInParallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "InvokeFetcher",
          "States": {
            "InvokeFetcher": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "beaver-data-fetcher",
                "Payload.$": "$"
              },
              "ResultSelector": {
                "downloadKey.$": "$.Payload.downloadKey"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "InvokeUSGSFetcher",
          "States": {
            "InvokeUSGSFetcher": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "beaver-usgs-fetcher",
                "Payload.$": "$"
              },
              "ResultSelector": {
                "usgs_s3_key.$": "$.Payload.usgs_s3_key"
              },
              "End": true
            }
          }
        }
      ],
      "ResultSelector": {
        "downloadKey.$": "$[0].downloadKey",
        "usgs_s3_key.$": "$[1].usgs_s3_key"
      },
      "ResultPath": "$",
      "Next": "WaitForGBIF"
    },

    "WaitForGBIF": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "CheckGBIFStatus"
    },

    "CheckGBIFStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "beaver-check-status",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "downloadUrl.$": "$.Payload.downloadUrl",
        "downloadKey.$": "$.Payload.downloadKey",
        "usgs_s3_key.$": "$.Payload.usgs_s3_key"
      },
      "ResultPath": "$",
      "Next": "IsGBIFReady"
    },

    "IsGBIFReady": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "InvokeProcessor"
        }
      ],
      "Default": "WaitForGBIF"
    },

    "InvokeProcessor": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "beaver-processor",
        "Payload.$": "$"
      },
      "ResultPath": "$",
      "End": true
    }

  }
}