infrastructure/step_functions.json
{
  "Comment": "Beaver watershed pipeline — fetches GBIF async download + USGS data, waits for GBIF to be ready, then processes, loads to RDS, and runs anomaly detection",
  "StartAt": "InvokeFetcher",
  "States": {

    "InvokeFetcher": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "beaver-data-fetcher",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "downloadKey.$": "$.Payload.downloadKey",
        "usgs_s3_key.$": "$.Payload.usgs_s3_key"
      },
      "ResultPath": "$",
      "Next": "WaitForGBIF"
    },

    "WaitForGBIF": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "CheckGBIFStatus"
    },

    "CheckGBIFStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "beaver-check-status",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "downloadUrl.$": "$.Payload.downloadUrl",
        "downloadKey.$": "$.Payload.downloadKey",
        "usgs_s3_key.$": "$.Payload.usgs_s3_key"
      },
      "ResultPath": "$",
      "Next": "IsGBIFReady"
    },

    "IsGBIFReady": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "InvokeProcessor"
        }
      ],
      "Default": "WaitForGBIF"
    },

    "InvokeProcessor": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "beaver-processor",
        "Payload.$": "$"
      },
      "ResultPath": "$",
      "Next": "InvokeAnomalyDetector"
    },

    "InvokeAnomalyDetector": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "beaver-anomaly-detector",
        "Payload.$": "$"
      },
      "ResultPath": "$",
      "End": true
    }

  }
}